---
---

<style>
  img{
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    position: absolute;
  }
 

  .content{
    position: relative;
    z-index: inherit;
    text-align: center;
    padding-top: 50px;
    color: white;
  }

  /* BREAKPOINT para pantallas chicas */
  @media (max-width: 768px) {
    img {
      height: 20vh; /* Más chiquita la imagen */
      top: 30%;     /* Baja menos */
      width: 100%;   /* No ocupe todo */
    }
  }
</style>
<section class="relative w-screen h-screen overflow-hidden bg-black">
  <!-- Imagen de fondo -->
  <img
    src="/images/logo-black-lgc.png"
    alt="Fondo cancha"
    width="20%"
  />
</section>
