---
---

<style>

  img{
    position: absolute;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
  }


  .content{
    position: relative;
    z-index: inherit;
    text-align: center;
    padding-top: 50px;
    color: white;


    h1{
      font-size: 40px;
    }

   
  }
</style>
<section class="relative w-screen h-screen overflow-hidden">
  <!-- Imagen de fondo -->
  <img
    src="/images/logo-black-lgc.png"
    alt="Fondo cancha"
    width="100%"
    class="w-full h-full object-cover object-center md:object-top"
  />



  <!-- Contenido centrado -->

</section>
