---
import Logo from '../assets/logo-blanco-lgc.png'; // reemplaza con la ruta real del PNG con fondo transparente
---
<style>
  .header{
    background-color: transparent;
  }
</style>


<header class="absolute max-w-7xl top-[-40px] left-0 px-24 py-4 bg-transparent z-50">
  <div class="flex justify-center lg:justify-start items-center">
    <a href="/"><img src={Logo.src} alt="Little Giants Courts Logo" width="200" height="200"/></a>
  </div>
</header>

