---
const {
  titulo = "Testimonios",
  subtitulo = "Esto es lo que dicen quienes ya forman parte de Little Giants",

  testimonios = [
    { nombre: "Juan Pérez", texto: "Increíble servicio y atención personalizada." },
    { nombre: "María García", texto: "Me ayudaron a llevar mi música al siguiente nivel." },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" },
    { nombre: "Lucas Fernández", texto: "¡Gran experiencia y resultados profesionales!" }
  ]
} = Astro.props;
---

<style>
  .embla__viewport {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    /* gap: 2rem; */
  }

  .embla__slide {
    flex: 0 0 100%;
    width: 320px;
    height: 250px;
  }

  @media (min-width: 768px) {
    .embla__slide {
      flex: 0 0 50%;
    }
  }

  @media (min-width: 1024px) {
    .embla__slide {
      flex: 0 0 33.3333%;
    }
  }

  .embla__button {
    background-color: #002356;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
  }

  .embla__controls {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;    
  }
</style>

<section class="bg-white text-primary py-20 px-4 h-[600px]">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-4xl md:text-5xl font-bold mb-2">{titulo}</h2>
    <p class="text-xl mb-8">{subtitulo}</p>


    <div class="embla">
      <div class="embla__viewport" id="embla-viewport">
        <div class="embla__container">
          {testimonios.map((t: { texto: unknown; nombre: unknown; }) => (
            <div class="embla__slide bg-secondary text-white py-16 px-16 rounded-lg shadow-md mx-5">
              <p class="text-2xl italic mb-4">"{t.texto}"</p>
              <h3 class="font-bold">{t.nombre}</h3>
            </div>
          ))}
        </div>
      </div>

      <div class="embla__controls">
        <button class="embla__button" id="prevBtn">‹</button>
        <button class="embla__button" id="nextBtn">›</button>
      </div>
    </div>
  </div>
 
</section>

<script type="module">
  import { initTestimoniosCarousel } from '../../public/scripts/testimonios-carousel';
  initTestimoniosCarousel();
</script>

