<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="https://littlegiantscourts.com/img/logo-black-lgc.png" />
		<meta property="og:title" content="Donde haya lugar, puede haber una cancha" />
		<meta property="og:description" content="Little Giants Courts transforma espacios en experiencias de juego." />
		<meta property="og:url" content="https://littlegiantscourts.com" />
		<meta property="og:type" content="website" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Little Giants Courts</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		text-wrap: balance;
		scroll-behavior: smooth;
	}
</style>
